.cart {
  &__item {
    cursor: pointer;
    font-size: 2.2rem;
    color: $color_green-1;
    margin-right: 20px;
    align-items: center;
    position: relative;
    display: block;
  }

  &__count {
    position: absolute;
    width: 16px;
    height: 14px;
    border-radius: 50%;
    top: -4px;
    right: -10px;
    background-color: $color_orange;
    color: $color_white;
    font-size: 1rem;
    text-align: center;
    line-height: 16px;
  }
}
