.modal {
  margin-top: auto;
  min-width: 800px;
  min-height: 250px;
  background-color: #fff;
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 90;
  &__wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  &__over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.85);
  }
  &__content {
    display: flex;
    flex-direction: row;
    span {
      font-size: 24px;
    }
  }
  &__img {
    width: 300px;
    height: 300px;
    position: relative;
    img {
      transition: all 0.4s;
      right: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
      object-fit: cover;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &__text-name {
    color: $color_green-1;
  }
  &__price-current {
    margin-top: 20px;
    color: red;
  }
  &__price-old {
    text-decoration: line-through;
    margin-bottom: 20px;
  }
  &__cart-action {
    background: $color_green-1;
    display: block;
    color: $color_white;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 2px;
    text-align: center;
    margin-top: 20px;
  }
  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__input {
    &-label {
      font-size: 1.4rem;
      margin-right: 4px;
    }
    &-count {
      outline: none;
      padding: 4px;
    }
  }
  &__button {
    &-close {
      color: $color_green-1;
      font-size: 1.6rem;
      border: none;
      top: 0;
      right: 0;
      align-self: center;
      cursor: pointer;
      position: absolute;
      &:hover,
      &:focus {
        background-color: #e8daff;
      }
    }
  }
}
