.nav {
  &__list {
    list-style: none;
    display: flex;
    font-size: $font-menu-nav;
    font-weight: 600;
    color: $color-text;
    text-transform: uppercase;
  }

  &__item {
    padding: 14px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &:hover > .nav-sub {
      opacity: 1;
      visibility: visible;
      display: block;
      transform: translateY(0px);
    }

    &.active {
      color: $color_green-1;
    }

    &:hover {
      color: $color_green-1;
      background-color: $color_white;
    }
  }

  &-sub {
    width: 240px;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: $color_white;
    top: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    list-style: none;
    z-index: 2;
    box-shadow: $color_box_shadow;
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;

    &__item {
      color: $color_text;
      padding: 12px;

      &:hover {
        color: $color_white;
        background-color: $color_green-1;
      }
    }
  }

  .dropdown-icon {
    margin-left: 6px;
  }
}
