.phone {
  &__wrapper {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    color: $color_green-1;
    font-size: 1.8rem;
    margin-right: 4px;
  }
}
