.product {
  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 2px 2px 20px #00000017;
    cursor: pointer;
    padding: 10px;
    position: relative;
    img {
      transition: all 0.4s;
      right: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
      object-fit: cover;
    }
    &:hover {
      box-shadow: 2px 2px 20px #eaeaea;

      img {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }

  &__bgWrap {
    width: 100%;
    height: 290px;
    position: relative;
    box-sizing: border-box;
  }

  &__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text-name {
    font-size: 1.6rem;
    color: $color_green-1;
  }
  &__price {
    font-weight: bold;
    &-old {
      font-size: 1.4rem;
      text-decoration: line-through;
    }
    &-current {
      font-size: 1.4rem;
      color: red;
      margin-top: auto;
    }
  }
}
