.search {
  &__wrapper {
    background-color: $color_white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    max-height: 42px;
    height: 42px;
    font-size: 1.3rem;
    color: $color_text;
    position: relative;
    margin-right: 40px;
    border-radius: 2px;

    .history {
      &__wrapper {
        display: none;
        position: absolute;
        width: 100%;
        top: 110%;
        left: 0;
        background-color: $color_white;
        box-shadow: $color_box_shadow;
        height: auto;
        max-height: 30vh;
        z-index: 99;
        overflow: hidden;
        border-radius: 2px;

        &:hover {
          overflow-y: auto;
        }
      }

      &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      &__item {
        padding: 12px 10px;
        cursor: pointer;

        &:hover {
          background-color: $color_grey_light;
          color: $color_green-1;
        }
      }
    }
  }

  &__input {
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    padding: 12px 10px;
    border-radius: 2px;

    &:focus ~ .history__wrapper {
      display: block;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_green-1;
    color: $color_white;
    width: 60px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0px 2px 2px 0px;

    &:hover {
      opacity: 0.8;
    }
  }
}
