.service {
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 60px 0px;
    background-color: $color_green-3;
  }

  &__icon {
    color: $color_green-2;
    font-size: 3.6rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $color_text;
  }

  &__desc {
    font-size: 1.6rem;
    text-align: center;
    color: $color_text_sub;
  }
}
