.sidebar {
  position: relative;
  font-size: $font-sidebar;

  &__label {
    width: $width_menu_left;
    background-color: $color_green-1;
    color: $color_white;
    height: 100%;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 104%;
    width: 100%;
    left: 0;
    border: 1px solid $color_grey_bold;
    border-top: none;
    height: $height_menu_left;
    max-height: $max-height-menu;

    &.hidden {
      display: none;
    }

    &__icon {
      font-size: 1.4rem;
    }

    &__item {
      color: $color_text;
      border-bottom: 1px solid $color_grey_bold;
      cursor: pointer;
      padding: 4px 14px;
      height: 3.6rem;
      line-height: 3.6rem;
      position: relative;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $color_green-1;

        .menu-sub {
          display: block;
          visibility: visible;
          opacity: 1;
          top: 0;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .menu-sub {
    padding: 4px 20px;
    position: absolute;
    left: 100%;
    top: 40px;
    opacity: 0;
    background-color: $color_white;
    z-index: 2;
    min-width: 600px;
    box-shadow: $color_box_shadow;
    transition: top 0.3s ease-in-out;
    visibility: hidden;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: $color_text;

      li:hover {
        color: $color_orange;
      }
    }
  }
}
