.slide {
  left: 0;
  top: 0;
  transform: translateX(0);
  display: flex;
  position: absolute;
  border-radius: 6px;
  transition: transform 0.4s ease-in-out;
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    .bullet {
      &_group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        bottom: 0%;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      transform: translateY(-50%);
      padding: 16px;
      color: $color_white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      z-index: 2;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: $color_arrow_slides;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
