.social {
  display: flex;
  flex-direction: row;
  color: $color_white;
  list-style: none;
  height: 100%;

  &__item {
    border: 1px solid $color_white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }

  &-twitter:hover {
    background-color: $color_twitter;
    border-color: $color_twitter;
  }

  &-facebook:hover {
    background-color: $color_facebook;
    border-color: $color_facebook;
  }
}
