.user {
  &__info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      .user-dropdown__content {
        display: block;
      }
    }
  }

  &__icon {
    color: $color_green-1;
    font-size: 1.8rem;
    margin-right: 4px;
  }

  &__content {
    margin-left: 6px;
  }

  &__title {
    font-size: 1rem;
    color: $color-text;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-text;
  }

  &-dropdown {
    &__content {
      z-index: 1;
      display: none;
      position: absolute;
      top: 136%;
      right: 0;
      width: 140px;
      background-color: $color_white;
      transform-origin: calc(100% - 14px) top;
      will-change: opacity, transform;
      box-shadow: $color_box_shadow;
      animation: headerNotifyGrowth ease-in 0.2s;

      &::after {
        position: absolute;
        top: -12%;
        content: "";
        width: 0px;
        height: 0px;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        border-bottom: 9px solid $color_white;
        right: 10px;
        border-radius: 2px;
      }

      &::before {
        position: absolute;
        top: -20%;
        content: "";
        width: 100%;
        height: 16px;
        right: 0;
      }
    }

    &__item {
      padding: 10px 12px;
      font-size: 1.3rem;

      &:hover {
        color: $color_green-1;
        cursor: pointer;
        background-color: $color_grey_light;
      }
    }
  }
}
