.slide {
  &-wrapper {
    width: 100%;
    height: $height_menu_left;
    max-height: $max-height-menu;
    padding-top: 20px;
    padding-left: calc(#{$width_menu_left} + 20px);
  }
}
.category {
  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 26px;
      height: auto;
    }
  }
  &-heading {
    border-bottom: 1px solid $color_border;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 8px 0;
    position: relative;
    color: $color_green-1;
    h5 {
      font-size: 1.8rem;
      margin: 0;
      width: 100%;
      text-transform: uppercase;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 3px;
      background-color: $color_green-1;
      top: 100%;
    }
    .more {
      font-size: 1.4rem;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 4px 0;
      color: $color_text_sub;
      &:hover {
        color: $color_green-1;
      }
      &-icon {
        margin-left: 4px;
      }
    }
  }
}
