$color_grey_light: #f9f5f1;
$color_grey: #f1f1f1;
$color_grey_bold: #efefef;
$color_green-1: #02833d;
$color_green-2: #539414;
$color_green-3: #f0f9f7;
$color_text: #252525;
$color_text_sub: #616161;
$color_border: #e6e6e6;
$color_orange: #f9ab33;
$color_white: #ffffff;
$color_arrow_slides: rgba(0, 0, 0, 0.6);
$color_twitter: #18a6f0;
$color_facebook: #3b5998;
$color_instagram: #f9ab33;
$color_box_shadow: rgb(0 0 0 / 18%) 0px 4px 12px 0px;
$color_box_shadow_submenu: 10px 16px 49px 0 rgb(38 42 46 / 5%);
