@use "sass:math";

$grid-width: 1200px;
$grid__cols: 12;
$map-grid-props: "c", "sm", "md", "lg", "xl";

@mixin create-col-classes($grid-cols, $breakpoint) {
  .#{$breakpoint}-2-4 {
    flex-basis: (100 * 0.2) * 1%;
  }

  @for $i from 0 through $grid-cols {
    @if ($i==0) {
      .#{$breakpoint}-#{$i} {
        display: none;
      }

      .#{$breakpoint}-o-#{$i} {
        margin-left: 0;
      }
    } @else {
      .#{$breakpoint}-#{$i} {
        flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
      }

      .#{$breakpoint}-o-#{$i} {
        flex-basis: math.div(100, math.div($grid-cols, $i)) * 1%;
      }
    }
  }
}

@mixin create-wide-mq($breakpoint) {
  @include responsive($breakpoint) {
    @if ($breakpoint== "sm") {
      .wide {
        width: 540px;
      }
    } @else if($breakpoint== "md") {
      .wide {
        width: 768px;
      }
    } @else if($breakpoint== "lg") {
      .wide {
        width: 960px;
      }
    } @else if($breakpoint== "xl") {
      .wide {
        width: 1200px;
      }
    }
  }
}

@mixin create-gutter-mq($breakpoint) {
  @include responsive($breakpoint) {
    @if ($breakpoint== "sm") {
      .row {
        margin-left: -6px;
        margin-right: -6px;
      }
      .row > .col,
      .row > * {
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 12px;
      }
    } @else if($breakpoint== "md") {
      .row {
        margin-left: -8px;
        margin-right: -8px;
      }
      .row > .col,
      .row > * {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 16px;
      }
    } @else if($breakpoint== "lg") {
      .row {
        margin-left: -10px;
        margin-right: -10px;
      }
      .row > .col,
      .row > * {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
      }
    } @else if($breakpoint== "xl") {
      .row {
        margin-left: -12px;
        margin-right: -12px;
      }
      .row > .col,
      .row > * {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 24px;
      }
    }
  }
}

@mixin create-show-classes($breakpoint) {
  .show-for-#{$breakpoint} {
    display: none !important;
  }
}

@mixin create-hide-classes($breakpoint) {
  .hide-for-#{$breakpoint} {
    display: none !important;
  }
}

//* Flex class
.flex {
  &-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-grow {
    flex: 1;
  }

  &-col {
    display: block;
  }

  &-left {
    max-height: 100%;
    margin-right: auto;
  }

  &-right {
    max-height: 100%;
    margin-left: auto;
  }

  &-center {
    max-height: 100%;
    margin: 0 auto;
  }
}

//* Wide
.grid {
  width: 100%;

  &.wide {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

//* Create class wide responsive
@each $breakpoint in $map-grid-props {
  @include create-wide-mq($breakpoint);
}

//* Row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.row > .col,
.row > * {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
}

//* gutter
// @each $breakpoint in $map-grid-props {
//   @include create-gutter-mq($breakpoint);
// }

.col {
  flex: 1 0 0;
}

//* Create class col
@each $breakpoint in $map-grid-props {
  @if ($breakpoint== "c") {
    @include create-col-classes($grid__cols, $breakpoint);
  } @else {
    @include responsive(min-#{$breakpoint}) {
      @include create-col-classes($grid__cols, $breakpoint);
    }
  }
}

//* Create class show/ hide element
@each $breakpoint in $map-grid-props {
  @include responsive(min-#{$breakpoint}) {
    @include create-show-classes($breakpoint);
  }

  @include responsive(max-#{$breakpoint}) {
    @include create-hide-classes($breakpoint);
  }
}
