// define responsive mixin for reuse
$mobile     : 23.75em; // 380px
$big-mobile : 36em; // 576px
$tablet     : 48em; // 768px
$big-tablet : 60em; // 960px
$laptop     : 75em; // 1200px
$pc         : 90em; // 1440px

@mixin responsive($media) {
  @if $media==xl {
    @media (min-width: ($laptop)) and (max-width: ($pc - 0.00125em)) {
      @content;
    }
  }

  @else if $media==lg {
    @media (min-width: ($big-tablet)) and (max-width: ($laptop - 0.00125em)) {
      @content;
    }
  }

  @else if $media==md {
    @media (min-width: ($tablet)) and (max-width: ($big-tablet - 0.00125em)) {
      @content;
    }
  }

  @else if $media==sm {
    @media (min-width: ($big-mobile)) and (max-width: ($tablet - 0.00125em)) {
      @content;
    }
  }

  @else if $media==xs {
    @media (min-width: ($mobile)) and (max-width: ($big-mobile - 0.00125em)) {
      @content;
    }
  }

  @else if $media==max-xl {
    @media (max-width: ($laptop - 0.00125em)) {
      @content;
    }
  }

  @else if $media==min-xl {
    @media (min-width: ($laptop)) {
      @content;
    }
  }

  @else if $media==max-lg {
    @media (max-width: ($big-tablet - 0.00125em)) {
      @content;
    }
  }

  @else if $media==min-lg {
    @media (min-width: ($big-tablet)) {
      @content;
    }
  }

  @else if $media==max-md {
    @media (max-width: ($tablet - 0.00125em)) {
      @content;
    }
  }

  @else if $media==min-md {
    @media (min-width: ($tablet)) {
      @content;
    }
  }

  @else if $media==max-sm {
    @media (max-width: ($big-mobile - 0.00125em)) {
      @content;
    }
  }

  @else if $media==min-sm {
    @media (min-width: ($big-mobile)) {
      @content;
    }
  }

  @else if $media==max-xs {
    @media (max-width: ($mobile - 0.00125em)) {
      @content;
    }
  }

  @else if $media==min-xs {
    @media (min-width: ($mobile)) {
      @content;
    }
  }
}