.footer {
  margin-top: auto;
  .logo {
    &__text {
      font-size: 3.4rem;
    }
  }
  .desc {
    font-size: 1.4rem;
    color: $color_text_sub;
  }
  &__contact {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color_text;
    list-style: none;
    font-size: 1.2rem;
    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0px;
    }
  }
  &__icon {
    margin-right: 6px;
  }
}
