.header {
  &__top {
    background-color: $color_green-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    padding: 4px 0px;
  }

  &__main {
    width: 100%;
    padding: 6px 0px;
    background-color: $color_grey;
  }

  &__bottom {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $color_green-1;
  }

  .nav__wrapper {
    margin-left: 10px;
  }

  .sidebar__wrapper,
  .nav__wrapper {
    height: 100%;
    display: flex;
  }
}
